.slides h2{
    color:white;
    font-size: 50px;
    font-weight: 600;
    max-width: 650px;
}
/* canvas */
canvas#lineChart {
    background: white;
    max-width: 100%;
    margin-top: none;
    border-radius: 400;
    padding: 200;
}